@tailwind base;
@tailwind components;
@tailwind utilities;
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles;

:root {
  --background: #24252F;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(#24252F, #242530);
}

button {
  background-color: #313341;
  padding: 8px;
  padding-right: 2rem;
  padding-left: 2rem;

}

button:hover {
  background-color: #2D76F9;
}


/*linear-gradient( #24252F,#242530)*/